
.card1{
    width: fit-content;
    position: relative;
    background: black;
    border-radius: 0em;
    margin: 4em auto;

    .text-success {
        color: #34c054 !important;
        }
    
    .text-light {
        color: white !important;
    }

}


